[submodule "ros2_ws/src/vendors/livox_ros_driver2"]
	path = ros2_ws/src/vendors/livox_ros_driver2
	url = https://github.com/Livox-SDK/livox_ros_driver2.git
[submodule "ros2_ws/src/vendors/orbbec_sdk_ros2"]
	path = ros2_ws/src/vendors/orbbec_sdk_ros2
	url = https://github.com/orbbec/OrbbecSDK_ROS2.git
[submodule "ros2_ws/src/vendors/ros2_astra_camera"]
	path = ros2_ws/src/vendors/ros2_astra_camera
	url = https://github.com/orbbec/ros2_astra_camera.git
